tr.time-entry {
  td.Green {
    background: url(../images/bullet_green.png) no-repeat center center;
    text-indent: -9999px;
  }
  td.Amber {
    background: url(../images/bullet_amber.png) no-repeat center center;
    text-indent: -9999px;
  }
  td.Red {
    background: url(../images/bullet_red.png) no-repeat center center;
    text-indent: -9999px;
  }
}
